*
{
    margin: 0;
    padding: 0;
    /*you may use this to see the boxes on your html*/
    /* border: 0.5px solid black; */
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.jumbotron{
  text-align: center;
  background:none;
}
.jumbotron p{
  font-size: 20px;
}


.wrapper {
  
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  perspective: 2px;
  
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.landing-page>h1{
  font-size: 50px;
  
  text-align: center;
}

.landing-page>h3{
  font-size: 30px;
  text-align: center;
}

.section {
  position: relative;
  height: 100vh;
  
  /* For text formatting. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* text-shadow: 0 0 5px #000; */
}

.section2 {
  position: relative;
  height: auto;
  
  /* For text formatting. */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  /* text-shadow: 0 0 5px #000; */
}

.bg1>.some-details{
	margin-top: 5px;
	font-size: 13px;
	/* font-family: 'Roboto', sans-serif; */
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

.static {
  background: whitesmoke;
}

/* Setbackground image */
.bg1::after {
  /* background-image: url(../images/bg2.jpg); */

  background: 
    /* top, transparent red, faked with gradient */ 
    
    linear-gradient(
      rgba(52, 53, 105, 0.6), 
      rgba(52, 53, 105, 0.6)
    ),
    /* bottom, image */
    url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;

}

.bg2::after {
  background: 
    /* top, transparent red, faked with gradient */ 
    
    linear-gradient(
      rgba(52, 53, 105, 0.8), 
      rgba(52, 53, 105, 0.8)
    ),
    /* bottom, image */
    url(../images/bg2.jpg);
    background-position: center;
    background-size: cover;

}

/* projects */


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}


div.project-img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* navbar*/
.navbar1-box{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top:20px;
	z-index: 100;
}
.navbar1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
  /*background-color: #333;*/

  
  
}

.navbar1>li {
	display: inline-block;
  
}

.navbar1>li a {
	font-size: 30px;
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 1px 10px;
  	text-decoration: none;
}

.navbar1>li a:hover {
  /*background-color: #111;*/
  box-shadow: 0px 1px 0px whitesmoke;
  transition: 0.2s;

}
/* project images */
div.project-img {
  margin: 5px;
  
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

div.project-img:hover {
  border: 1px solid black;
  
}

div.project-img img {
  width: 100%;
  height: auto;
}

div.description {
  padding: 15px;
  text-align: center;
  font-size: 20px;
  
}

.title-holder{
  text-align: center;
  margin-top: 5px;
}

.my-skills{
  display: flex; 
	flex-direction: row;
	justify-content: space-between;
  align-items: center;
  
  
  
}
.my-skills>i{
  font-size: 40px;
  padding: 5px;
  /* display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center; */
  
}
#about{
  font-weight: 300;
}
/* footer section*/
.footer-copyright > a{
  text-decoration: none;
color:black;
align-items: center;
}
.page-footer{
  height: 25vh;
}




/* for responsiveness */

